header {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: var(--padding);
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color var(--transition-speed);
}

.header__nav-link:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .header__nav-list {
      flex-direction: column;
  }
}
