.header {
  background-color: var(--color-primary);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__nav {
    display: flex;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  &__nav-link {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color var(--transition-speed);
    &:hover {
      background-color: var(--color-background);
    }
  }

}

@media (max-width: 768px) {
  .header__nav-list {
      flex-direction: column;
  }
}
