/* You can add global styles to this file, and also import other style files */
/* -------------------------------
   Variáveis CSS
--------------------------------- */
@import '../node_modules/lib-design-tokens/projects/design-tokens/styles/theme-custom';
@import '../node_modules/lib-design-tokens/projects/design-tokens/styles/theme-dark';
@import '../node_modules/lib-design-tokens/projects/design-tokens/styles/theme-light';

/* -------------------------------
 Reset
--------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 1rem;
}
